
/*Body*/
@mixin body-background-logo-lg {
    .homeBody {
        max-width: 100%;
        height: auto;
        background-image: url(../assets/img/logo_camipi.svg);
        background-repeat: no-repeat;
        background-position: top center;
        background-color: $base-color;
        background-size: contain;
    }
}


@mixin body-background-imagotype {
    font-family: $montserrat;
    background-image: url(../assets/img/imagotype_camipi.svg);
    background-repeat: no-repeat;
    background-color: $base-color;
}

@mixin body-background-isotype {
    font-family: $montserrat;
    background-image: url(../assets/img/isotype_camipi.svg);
    background-repeat: no-repeat;
    background-color: $base-color;
}

@mixin body-background-img-none {
    font-family: $montserrat;
    background-image: none;
    background-repeat: no-repeat;
    background-color: $base-color;
}

/*Header / Navigation*/
@mixin header {
    header {
        margin: 2rem;
        padding: 2rem;
        width: 70%;
        margin: 0 auto;
    
        h2 {
            color: #E91E63;
            font-size: 1.5rem;
        }
        
        h3 {
            color: #fff;
            font-size: 1rem;
        } 
    }  
} 

@mixin contact-header-xs {
    .contact {
        &__Header{
            width: 100%;
            padding-top: 30px;
            padding-right: 15px;
            padding-left: 40px;
            margin-right: auto;
            margin-left: auto;

            h2 {
                color: #E91E63;
                font-size: 1.5rem;
            }
            
            h3 {
                color: #fff;
                font-size: 1rem;
            }
        }
    }
    
}

@mixin contact-header {
    .contactHeader {
        .navTitle {
            color: $secondary-color;
            h2 {
                padding-left: 17rem;
                font-size: 1.2rem;
            }
            h3 {
                padding-left: 17rem;
                font-size: 1rem;
            }
        }
    }
}


@mixin collapse-base-color {
    .collapse {
        background-color: transparent;
    }
}

@mixin collapse-primary-color {
    .collapse {
        background-color: $primary-color;
        padding: 2rem;
        font-size: large;  
    }
}

@mixin navlink {
    .nav-link {
    color: $secondary-color;
    font-weight: $bold;
    }
}

@mixin nav-hover {
    .nav-link:hover{
        color: #E91E63;
        font-weight: bold;
    }
}

@mixin second-nav {
    .secondNavbar  {
        display: flex;
        align-items: center;
        color: $secondary-color;
        padding-top: 2rem;
    }
}

@mixin second-nav-hidden {
    nav.secondNavbar  {
        display: none;
    }
}

/*Main*/
@mixin main-style-xl {
    main {
        .pl-xl-6 {
            padding-left: 21rem;
        } 

        .pl-xl-7 {
            padding-left: 23rem;
        } 
        color: $secondary-color;
    }
}

@mixin main-style-lg {
    main {
        .pl-lg-6 {
            padding-left: 0;
        } 
        color: $secondary-color;
    }
}

@mixin main-second-style {
    main {
        padding: 0 2rem;
        margin: 2rem;
    }
}

/*Index*/
@mixin home-main-logo {
   main {
       img{
            transform: rotate(-90deg);
        }
    } 
}

@mixin home-main-img {
    .home {
        &__Content {
            img {
                display: none;
            }
        }
    }
}

/*Biography Page*/

/*What I Do Page*/

/*Work Page*/

@mixin work-grid-gallery {
    display: grid;
}

@mixin img-work-grid-sm {
    .work {
        &__GalleryItems {
            &-row1 {
                display: flex;
                flex-direction: column;
                justify-items: center;
                .modop {
                    width: 500px;
                    height: 300px;
                    background-image: url(../assets/img/modop.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                    border-radius: 25px 25px 0 0;
                }
                .weemo {
                    width: 500px;
                    height: 300px;
                    background-image: url(../assets/img/weemo.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                }
            }

            &-row2 {
                .mydelivery {
                    width: 500px;
                    height: 300px;
                    background-image: url(../assets/img/mydelivery.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                    align-self: center;
                }

                .enelcito {
                    width: 500px;
                    height: 300px;
                    background-image: url(../assets/img/enelcito.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                }
                .paygo {
                    width: 500px;
                    height: 300px;
                    background-image: url(../assets/img/paygo.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                    border-radius: 0 0 25px 25px;
                }
            }
            
        }
    }
}

@mixin img-work-grid-md {
    .work {
        &__GalleryItems {
            align-content: center;

            &-row1 {
                display: flex;
                flex-direction: column;
                justify-items: center;
                .modop {
                    width: 600px;
                    height: 300px;
                    background-image: url(../assets/img/modop.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                    border-radius: 25px 25px 0 0;
                }
                .weemo {
                    width: 600px;
                    height: 300px;
                    background-image: url(../assets/img/weemo.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                }
            }

            &-row2 {
                .mydelivery {
                    width: 600px;
                    height: 300px;
                    background-image: url(../assets/img/mydelivery.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                }

                .enelcito {
                    width: 600px;
                    height: 300px;
                    background-image: url(../assets/img/enelcito.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                }
                .paygo {
                    width: 600px;
                    height: 300px;
                    background-image: url(../assets/img/paygo.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                    border-radius: 0 0 25px 25px;
                }
            }
            
        }
    }
}

@mixin img-work-grid-lg {
    .work {
        &__GalleryItems {
            &-row1 {
                display: flex;
                .modop {
                    width: 450px;
                    height: 300px;
                    background-image: url(../assets/img/modop.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                    border-radius: 25px 0 0 0;
                }
                
                .weemo {
                    width: 450px;
                    height: 300px;
                    background-image: url(../assets/img/weemo.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                    border-radius: 0 25px 0 0;
                }
            }

            &-row2 {
                width: 841px;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 33.3% 33.3% 33.3%;
                grid-template-areas: "mydelivery enelcito paygo";

                .mydelivery {
                    grid-area: mydelivery;
                    height: 300px;
                    background-image: url(../assets/img/mydelivery-1.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                    border-radius: 0 0 0 25px;
                }

                .enelcito {
                    grid-area: enelcito;
                    height: 300px;
                    background-image: url(../assets/img/enelcito.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                }
                .paygo {
                    grid-area: paygo;
                    height: 300px;
                    background-image: url(../assets/img/paygo-1.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                    border-radius: 0 0 25px 0;
                }
                
            }
            
        }
    }
}


@mixin img-work-grid-xl {
    .work {
        &__GalleryItems {
            &-row1 {
                display: flex;
                .modop {
                    width: 600px;
                    height: 300px;
                    background-image: url(../assets/img/modop.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                    border-radius: 25px 0 0 0;
                }


                .weemo {
                    width: 600px;
                    height: 300px;
                    background-image: url(../assets/img/weemo.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                    border-radius: 0 25px 0 0;
                }
            }

            &-row2 {
                width: 1201px;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 33.3% 33.3% 33.3%;
                grid-template-areas: "mydelivery enelcito paygo";

                .mydelivery {
                    grid-area: mydelivery;
                    height: 300px;
                    background-image: url(../assets/img/mydelivery.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                    align-self: center;
                    border-radius: 0 0 0 25px;
                }

                .enelcito {
                    grid-area: enelcito;
                    height: 300px;
                    background-image: url(../assets/img/enelcito.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                }
                .paygo {
                    grid-area: paygo;
                    height: 300px;
                    background-image: url(../assets/img/paygo.png);
                    background-repeat: cover no-repeat;
                    overflow: hidden;
                    border-radius: 0 0 25px 0;
                }
            }
        }
    }
}



/*Contact Page*/

@mixin pink-style {
    input{
        border: 1px solid $primary-color;
    }
    .btn-pink {
        color: $secondary-color;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        font-weight: $bold;
    }
}

@mixin pink {
    .pink {
        color: $primary-color;
        font-weight: $bold;
        width: 100%;
    }
}

@mixin img-size {
    .rrss-img {
        width: 60px;
        margin-left: .5rem;
    }
}

@mixin btn-input {
    .contact {
        &__FormItems {
            &-item {
                .btn-input {
                    width: 100%;
                }
            }
        }
    }
}


/*Footer*/
@mixin footer-padding-xl {
    .home {
        &__Footer {
            padding-top: 650px;
        }
    }
}