/*Body*/
@mixin body-background-logo-lg {
    .homeBody {
        max-width: 100%;
        height: auto;
        background-image: url(../assets/img/logo_camipi.svg);
        background-repeat: no-repeat;
        background-position: top center;
        background-color: $base-color;
        background-size: contain;
    }
}


@mixin body-background-imagotype {
    font-family: $montserrat;
    background-image: url(../assets/img/imagotype_camipi.svg);
    background-repeat: no-repeat;
    background-color: $base-color;
}

@mixin body-background-isotype {
    font-family: $montserrat;
    background-image: url(../assets/img/isotype_camipi.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-color: $base-color;
}

@mixin body-background-img-none {
    font-family: $montserrat;
    background-image: none;
    background-repeat: no-repeat;
    background-color: $base-color;
}

/*Header / Navigation*/
@mixin home-nav-xl {
    .homeBody {
        .navTitle {
            h2 {
                font-size: 3rem;
                font-weight: $bold;
            }
        }
        .navSecondTitle {
            h2 {
                font-size: 2rem;
                font-weight: $bold;
            } 
    
            h3{
                font-size: 1.2rem;
                font-weight: $bold;
            }
        }
    }

}

@mixin home-nav-lg {
    .homeBody {
        .navTitle {
            h2 {
                font-size: 1.7rem;
                font-weight: $bold;
            }
        }
        .navSecondTitle {
            h2 {
                font-size: 1rem;
                font-weight: $bold;
            } 
    
            h3{
                font-size: 1.2rem;
                font-weight: $bold;
            }
        }
    }

}

@mixin home-nav-md {
    .homeBody {
        .navTitle {
            h2 {
                font-weight: $bold;
            }
        }
    }
}

@mixin home-nav-sm {
    .homeBody {
        .navTitle {
            h2 {
                font-weight: $regular;
            }
        }
    }
}

@mixin header {
    header {
        margin: 2rem;
        padding: 2rem;
        width: 70%;
        margin: 0 auto;
    
        h2 {
            color: #E91E63;
            font-size: 1.7rem;
            font-weight: $bold;
        }
        
        h3 {
            color: #fff;
            font-size: 1rem;
        } 
    }  
} 

@mixin contact-header-xs {
    .contact {
        &__Header{
            width: 100%;
            padding-top: 30px;
            padding-right: 15px;
            padding-left: 40px;
            margin-right: auto;
            margin-left: auto;

            h2 {
                color: #E91E63;
                font-size: 1.5rem;
            }
            
            h3 {
                color: #fff;
                font-size: 1rem;
            }
        }
    }
    
}

@mixin contact-header {
    .contactHeader {
        .navTitle {
            color: $secondary-color;
            h2 {
                padding-left: 17rem;
                font-size: 1.2rem;
            }
            h3 {
                padding-left: 17rem;
                font-size: 1rem;
            }
        }
    }
}


@mixin collapse-base-color {
    .collapse {
        background-color: transparent;
    }
}

@mixin collapse-primary-color {
    .collapse {
        background-color: $primary-color;
        padding: 2rem;
        font-size: large;  
    }
}

@mixin navlink {
    .nav-link {
    color: $secondary-color;
    font-weight: $bold;
    }
}

@mixin nav-hover {
    .nav-link:hover{
        color: #E91E63;
        font-weight: bold;
    }
}

@mixin second-nav {
    .secondNavbar  {
        display: flex;
        align-items: center;
        color: $secondary-color;
        padding-top: 2rem;
    }
}

@mixin second-nav-hidden {
    nav.secondNavbar  {
        display: none;
    }
}

/*Main*/
@mixin main-style-xl {
    main {
        .pl-xl-6 {
            padding-left: 21rem;
        } 

        .pl-xl-7 {
            padding-left: 23rem;
        } 
        color: $secondary-color;
    }
}

@mixin main-style-lg {
    main {
        .pl-lg-6 {
            padding-left: 0;
        } 
        color: $secondary-color;
    }
}

@mixin main-second-style {
    main {
        padding: 0 2rem;
        margin: 2rem;
    }
}

@mixin body-background-logo-sm {
    main {
        .home {
            &__Content {
                &-logo { 
                    max-width: 100%;
                    height: 750px;
                    background-image: url(../assets/img/logo-camipi-v.svg);
                    background-repeat: no-repeat;
                    background-position: top center;
                    background-color: #306;
                    background-size: cover;
                    padding-top: 2rem;

                }
            }
        }
    }
}

/*Work Page*/
@mixin work-grid-gallery-xs {
    .work {
        &__GalleryItems {
            display: grid;
            grid-template-columns: 100%;
            width: 300px;

            .modop {
                background-image: url(../assets/img/modop.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
                border-radius: 25px 25px 0 0;
            }

            .weemo {
                background-image: url(../assets/img/weemo.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
            }

            .mydelivery {
                background-image: url(../assets/img/mydelivery.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
            }

            .enelcito {
                background-image: url(../assets/img/enelcito.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
            }

            .paygo {
                background-image: url(../assets/img/paygo.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
                border-radius: 0 0 25px 25px ;
            }

        }
    }


}

@mixin work-grid-gallery-sm {
    .work {
        &__GalleryItems {
            display: grid;
            grid-template-columns: 100%;
            width: 500px;

            .modop {
                background-image: url(../assets/img/modop.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
                border-radius: 25px 25px 0 0;
            }

            .weemo {
                background-image: url(../assets/img/weemo.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
            }

            .mydelivery {
                background-image: url(../assets/img/mydelivery.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
            }

            .enelcito {
                background-image: url(../assets/img/enelcito.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
            }

            .paygo {
                background-image: url(../assets/img/paygo.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
                border-radius: 0 0 25px 25px ;
            }

        }
    }


}

@mixin work-grid-gallery-md {
    .work {
        &__GalleryItems {
            display: grid;
            grid-template-columns: 100%;
            width: 600px;

            .modop {
                background-image: url(../assets/img/modop.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
                border-radius: 25px 25px 0 0;
            }

            .weemo {
                background-image: url(../assets/img/weemo.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
            }

            .mydelivery {
                background-image: url(../assets/img/mydelivery.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
            }

            .enelcito {
                background-image: url(../assets/img/enelcito.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
            }

            .paygo {
                background-image: url(../assets/img/paygo.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
                border-radius:0 0 25px 25px;
            }

        }
    }


}

@mixin work-grid-gallery-lg {
    .work {
        &__GalleryItems {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(6, 1fr);

            .modop {
                grid-column-start: 1;
                grid-column-end: 4;
                background-image: url(../assets/img/modop.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
                border-radius: 25px 0 0 0;
            }

            .weemo {
                grid-column-start: 4;
                grid-column-end: 7;
                background-image: url(../assets/img/weemo.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
                border-radius: 0  25px 0 0;
            }

            .mydelivery {
                grid-column-start: 1;
                grid-column-end: 3;
                background-image: url(../assets/img/mydelivery.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
                border-radius: 0  0  0 25px;
            }

            .enelcito {
                grid-column-start: 3;
                grid-column-end: 5;
                background-image: url(../assets/img/enelcito.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
                
            }

            .paygo {
                grid-column-start: 5;
                grid-column-end: 7;
                background-image: url(../assets/img/paygo.png);
                background-repeat: cover no-repeat;
                overflow: hidden;
                height: 300px;
                cursor: pointer;
                border-radius:0 0 25px 25px;
                border-radius: 0  0  25px 0; 
            }

        }
    }
} 


/*Contact Page*/

@mixin pink-style {
    input{
        border: 1px solid $primary-color;
    }
    .btn-pink {
        color: $secondary-color;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        font-weight: $bold;
    }
}

@mixin pink {
    .pink {
        color: $primary-color;
        font-weight: $bold;
        width: 100%;
    }
}

@mixin img-size {
    .rrss-img {
        width: 60px;
        margin-left: .5rem;
    }
}

@mixin btn-input {
    .contact {
        &__FormItems {
            &-item {
                .btn-input {
                    width: 100%;
                }
            }
        }
    }
}

@mixin rrss {
    .contact {
        &__RRSS {
            ul {
                list-style: none;
                li {
                    padding-left: 5px;
                    cursor: pointer;
                }
            }
        }
    } 
}


/*Footer*/
@mixin footer-padding-xl {
    .home {
        &__Footer {
            padding-top: 650px;
        }
    }
}

/*Other styles*/
@mixin strong {
    strong {
        color: $primary-color;
    }
}

@mixin breadcrums {
    .breadcrumb {
        background: transparent;
    }
}